server:
  port: 8083 # 所有后端请求的入口
logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG
    com.alibaba.nacos.client: INFO
    com.alibaba.nacos.client.naming: WARN
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
spring:
  application:
    name: api-gateway-fyb
  config:
    import: nacos:shared-config.yml
  
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_SERVER_ADDR:localhost:8848}
        username: nacos
        password: passw0rd
        register-enabled: true
      config:
        file-extension: yml
        group: DEFAULT_GROUP
    gateway:
      discovery:
        locator:
          enabled: true # 开启基于服务发现的路由功能
          lower-case-service-id: true # 将服务名转为小写路径，e.g., user-service -> /user-service/**
      routes:
        - id: user_service_route
          uri: lb://user-service-fyb
          predicates:
            - Path=/api/gateway/user/**
          filters:
            - StripPrefix=2
        - id: qa_service_route
          uri: lb://qa-service-fyb
          predicates:
            - Path=/api/gateway/qa/**
          filters:
            - StripPrefix=2
      default-filters:
        # 配置默认的限流过滤器
        - name: RequestRateLimiter
          args:
            key-resolver: '#{@ipKeyResolver}'
  # 配置 WebClient 超时
  webflux:
    webclient:
      request:
        timeout: 2m  # 请求超时 2分钟
      connect-timeout: 1m  # 连接超时 1分钟
  # Reactor Netty 配置
  reactor:
    netty:
      http:
        client:
          response-timeout: 2m  # 响应超时 2分钟

security:
  jwt:
    secret: ${JWT_SECRET:7zmKiI4PToMYMC9G5nuAcL5JBRBYFZCzrn7PIM4zPZY=}
    issuer: user-service-fyb
    expiration-minutes: 720
services:
  qa:
    base-url: ${QA_SERVICE_BASE_URL:http://qa-service-fyb}